<div class="row ">
  <form
    class="d-flex flex-nowrap"
    [formGroup]="formAdd"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="lastname">Nom</label>
      <input class="form-control" name="lastname" formControlName="lastname" />
    </div>
    <div class="form-group">
      <label for="firstname">Prenom</label>
      <input
        class="form-control"
        name="firstname"
        formControlName="firstname"
      />
    </div>
    <div class="form-group">
      <label for="birth">Date de naissance</label>
      <input class="form-control" name="birth" formControlName="birth" />
    </div>
    <div class="form-group">
      <label for="sex">Sexe</label>
      <input class="form-control" name="sex" formControlName="sex" />
    </div>
    <button type="submit" class="btn btn-primary btn-sm m-2">
      Add
    </button>
  </form>
</div>
